body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

@media screen and (max-width: 550px) {
    body {
        background-color: rgb(26, 160, 238);
    }
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box h1 {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}

.box input[type="text"]:hover {
    width: 280px;
    border-color: #2ecc2e;
}

.box input[type="password"]:hover {
    width: 280px;
    border-color: rgba(223, 26, 59, 0.575);
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #ce1af1;
    padding: 14px 10px;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    width: 150px;
    border-color: rgb(207, 221, 10);
    background: #2ecc2e;
}